/////////////////////////////
///////logo

.logo{
    height: 3.25rem;
    margin-left: 3rem;
}

/////////////////////////////
///////search

.search{
// background-color: yellowgreen;
flex: 0 0 40%;
display: flex;
justify-content: center;
align-items: center;
    &__input{
            width: 90%;
            font-family: inherit;
            font-size: inherit;
            background-color: var(--grey-light2);
            border: none;
            color: inherit;
            padding: 0.7em 2rem;
            border-radius: 100px;
            transition: all 0.2s;
            margin-right: -3.5rem;
            
            &:focus{
                background-color: var(--grey-light3);
                width: 100%;
                outline: none;
            }
            &_input + &_button{
                background-color: var(--grey-light3);
            }
            &::-webkit-input-placeholder{
                font-weight: 100;
                color: var(--grey-light4);
            }

}
    &__button{
        border: none;
        background-color: var(--grey-light2);
        // outline: none;
    
    }
    &:focus{
        outline: none;
    }
    // &:active{
    //      transform: translateY(2px);
    // }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;

    }

}

///////////////////////////////////
/////////user-navigation

.user-nav{
    // background-color: red;
    display: flex;
    align-items: center;
    align-self: stretch;

    & > *{
        padding: 0 2rem;
        cursor: pointer;
    }
    & > *:hover{
        background-color: var(--grey-light2);
    }
    
    &_icon-box{
        display: flex;
        align-items: center;
        position: relative;


    }
    &_icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: #777;

    }
    &_notification{
        font-size: 1.25rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: crimson;
        color: white;
        right: 1.1rem;
        position: absolute;
        top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2rem;
    }
    &_user{
        display: flex;
        align-items: center;


    }
    &_user-photo{
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
        border-radius: 100%;


    }
    &_user-name{
        font-size: 1.5rem;
        text-align: center;


    }

}